<!-- forEach on Db to gen files -->
<% userPhoto.forEach((feed) => { %>
  <!-- id for post to scroll auto back to the post after refresh -->
  <div class="col-md-8 custom-grid" id="<%= feed._id %>">
    <div class="content">
      <div class="mini-navbar">
        <p>
  
          <a href="/profiles/<%= feed.id %> ">
            <img src="https://proiect-licenta.s3.eu-central-1.amazonaws.com/image_uploud_Profile-_id_<%=feed.id %>"
              alt="profile-img" /><%=
          feed.profile_name %>
          </a>
        </p>
        <p class="date"><%= feed.date.slice(4, 16) %></p>
      </div>
      <!-- img -->
      <img class="photo" src="<%= feed.s3_file %>" alt="Insagram Photo" />
  
      <div class="content-feed">
        <!-- lights from -->
  
        <div class="likes" style="color: #374151;">
          </p>
  
         <div style="display:flex">
          <div>
            <form action="/unlights" method="POST">
            <input style="display: none;" class="idCheck" type="text" name="idLights" value="<%= feed._id %>">
          <input style="display: none;" type="text" class="lights" value="1">
          <button class="button" type="submit" style="outline: none;border: none;background-color: transparent;margin-bottom: 0px;position: relative;top: -10;bottom: 10px;">
            <img src="/public/images/icons/dislike.svg" alt="" style="width: 30px;"></button>   
            </form>
          </div>
            <div><p style="font-weight: bold; margin-bottom: 5px; position: relative;bottom: 8px;"><%= feed.lights %></p></div>           
            <div style="margin-left: 10px;">
              <form action="/lights" method="POST">
                <input style="display: none;" class="idCheck" type="text" name="idLights" value="<%= feed._id %>">
              <input style="display: none;" class="input" type="text" class="lights" value="1">
              <button class="button" type="submit" style="outline: none;border: none;background-color: transparent;margin-bottom: 0px;position: relative;top: -10;bottom: 10px;">
              <img class="img" src="/public/images/icons/like.svg" alt="" style="width: 30px;">
              </button>
            </form>
          </div>

      </div> 
    
          <!-- from for follow -->
         
          <form action="/follow" method="POST">
            <input class="fllw-input-none" type="text" name="idFllw" value="<%= feed._id %>">
            <% if(userId != feed.id) { %>
            <button id="fllw" class="fllw" type="submit" style="position: relative;
            bottom: 35px;
            right: 10px;">Follow</button>
         
          </form>
          
          <form action="/unfollow" method="POST">
            <input class="fllw-input-none" type="text" name="idFllw" value="<%= feed._id %>">
            
            <button id="fllw" class="fllw" type="submit" style="color: #D92027; position: relative;
            bottom: 35px;
            right: 10px;">unFollow</button>
          </form>
          <% } %>
         
       

          <form action="/check">
            <input type="text" name="check" style="display: none;" value="<%= feed._id %>"></form>
        </div>
  
        <p class="description"><b><%= feed.profile_name %></b><%= feed.des %></</p> <div class="comment-box all-comments">
          <a class="see-more">Show all comments..</a>
  
          <% feed.comm.forEach(function(comm){ %>
          <div class="user-comment-box"><b><%= comm.profile_name %></b>: <%= comm.comm %></div>
          <% }) %>
      </div>
    </div>
    <div class="comments">
      <form action="/" method="POST">
        <input class="idCheck" type="text" name="idCheck" value="<%= feed._id %>">
        <img src="../public/images/icons/comm.svg" alt="comments" />
        <input type="text" id="comm" name="comm" placeholder="Add a commnts.." />
        <button type="submit">Post</button>
        </p>
      </form>
    </div>
  </div>
  </div>
  
  <!-- scripts -->
  <script async src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script async src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script async src="/public/js/comm_ext.js"></script>
  
  <% }) %>