<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>NotAPPhase</title>
  <link rel="stylesheet" href="../public/css/home/styles.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
</head>

<body>
  <div class="loading">
    <div class="overlay">
<!-- task=bar -->
      <%- include('./partials/header.ejs') %>

      <div class="container">
        <div class="row">
          <div class="box"></div>

          <!-- feed -->
          <%- include('./partials/feed.ejs') %>

          <div class="col-sm-4">
            <div class="min-profile">
              <div class="min">
                <a href="/profile">
                  <h1><img src="<%= userStats.s3_profile %>" alt="profile"><%= userName %></h1>
                </a>
                <!-- statistics -->
                <div class="statistics">
                  <h3><%= userStats.follwers.length %><br> <span><b>Follwers</b></span></h3>
                  <h3><%= userStats.lights %><br> <span><b>Lights</b></span></h3>
                  <h3><%= userStats.follwing.length %><br> <span><b>Follwing</b></span></h3>
                </div>
              </div>
              <div>
                <img src="../public/images/icons/undraw_light_the_fire_gt58.png" alt="undraw">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
    integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
  </script>
</body>

</html>