<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NotAPPhase</title>
    <link rel="stylesheet" href="../public/css/profile/styles.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
</head>

<body>
    <!-- Header / TaskBar -->
    <%- include('./partials/header.ejs') %>

    <div class="container">
        <div class="info">
            <img class="profile-img" src="<%= userStats.s3_profile %> " alt="profile" />
            <div class="profile-info">
                <h1>
                    <%= userName %>
                    <button class="button" type="button" data-toggle="modal" data-target="#modal">
                        <img class="settings-icon" style="width: 27px"
                            src="../public/images/icons/settings_black_18dp.svg" alt="" />
                    </button>
                </h1>
                <!-- statstics -->
                <div class="statistics">
                    <div class="statistics-des">
                        <button type="button" data-toggle="modal" data-target="#Follwers" style="outline: none; background-color: transparent; border: none;">
                            <h3>
                                <%= userStats.follwers.length %> <br />
                                <span><b>Follwers</b></span>
                            </h3>
                          </button>
                        <h3>
                            <%= userStats.lights %><br />
                            <span><b>Lights</b></span>
                        </h3>
                        <button type="button" data-toggle="modal" data-target="#Follwing" style="outline: none; background-color: transparent; border: none;">
                        <h3>
                            <%= userStats.follwing.length %> <br />
                            <span><b>Follwing</b></span>
                        </h3>
                    </button>
                    </div>
                    <%= des %>
                </div>
            </div>
        </div>

        <hr />

        <!-- Gallery -->
        <div class="row">
            <% userWithSecrets.forEach((element) => {%>
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <img class="w-100 shadow-1-strong rounded mb-4" src="<%= element.s3_file %>" alt="profile_photo" />
            </div>
            <% }) %>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal">Edit profile!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/updateProfile" method="POST" enctype="multipart/form-data">
                    <div class="modal-body">
                        <h4>Profile images</h4>
                        <div class="input-group mb-3">
                            <div class="custom-file">
                                <input name ="image_uploud_Profile" type="file" class="custom-file-input" id="inputGroupFile02" />
                                <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                            </div>
                            <div class="input-group-append">
                                <button class="button">
                                    <span class="input-group-text" id="">Upload</span>
                                </button>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" class="btn btn-outline-success">
                            Save
                        </button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

  
  <!-- Modal Follwers-->
  <div class="modal fade" id="Follwers" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Follwers</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <% user.follwers.forEach((result) => { %> 
               <p style="font-size: 20px;"><%= result.name %></p>
           <% }) %> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  
  <!-- Modal Follwing -->
  <div class="modal fade" id="Follwing" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Follwing</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <% user.follwing.forEach((result) => { %> 
                <p style="font-size: 20px;"><%= result.name %></p>
            <% }) %> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>